@font-face{
	font-family: Arial;
	src: url(fonts/Arial-BoldMT.ttf);
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	padding: 0;
	font-family: Arial, 'Arial-BoldMT', sans-serif;
	color: #fffcf0;
	font-size: 18px;
	overflow: hidden;
}

header{
	display: flex;
	margin: 0;
	padding-top: 110px;
	width: 100vw;
	height: 100vh;
	background: url(images/background.jpg) center/cover no-repeat;
    top: 0;
    left: 0;
}

.bg-figure{
	content: "";
	width: 27%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.container{
	position: relative;
	display: block;
	justify-content: space-between;
	width: 1010px;
	margin: 0 auto;
	padding: 0;
	z-index: 1;
}

.top{
	display: flex;
}

.avatar{
	width: 65%;
	height: auto;
	padding: 1.5%;
	margin: 10% 0 0 10%;
	background: linear-gradient(180deg, #faeaaf, #f9f5dc);
	border-radius: 100%;
}

.bottom{
	display: flex;
}

.name{
	margin: 24px 25px 0 0;
	padding: 20px 10px 0px 30px;
	background: linear-gradient(90deg, #f4d98a, rgba(0, 0, 0, 0));
	border-radius: 30px;
	width: 660px;
}

.name h1{
	margin:  0 0 0 0px;
	padding: 0;
	font-style: oblique;
	font-size: 34px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.name ul{
	margin: 5px 0 0 0px;
	padding: 0;
}

.name ul li{
	list-style-type: none;
	font-size: 24px;
}

.name ul li span{
	display: block;
	margin-left: 0px;
}

.name p{
	margin: 5px 0 0 0px;
	padding: 0;
	font-size: 24px;
}

.qr{
	margin: 24px 0px 0 0;
	padding: 0;
	float: right;
	border-radius: 20px;
	width: 200px;
	height: auto;
}

.qr img{
	border-radius: 20px;
	width: 245px;
	height: auto;
}

@media screen and (max-width: 1014px){
	img {
    	max-width: 100%;
    	height: auto;
	}

	body{
		overflow: auto;
	}

	header{
		position: absolute;
		padding: 15px 0 150px;
		height: auto;
	}
	.avatar{
		display: block;
    	margin-left: auto;
    	margin-right: auto;
    	width: 50%;
	}
	.container {
		display: block;
    	width: 90%;
    	margin: 0 auto;
	}

	.bg-figure{
		display: none;
	}

	.top{
		display: grid;
    	place-items: center;
	}

	.top img{
		width: 65%;
		height: auto;
		padding: 2%;
		background: linear-gradient(180deg, #faeaaf, #f9f5dc);
		border-radius: 100%;
	}

	.bottom{
		display: grid;
    	place-items: center;
	}

	.name{
		margin: 40px 0 0 0;
		text-align: left;
	}

	.name h1{
		font-size: 28px;
	}

	.name ul li{
		font-size: 24px;
	}

	.name p{
		font-size: 24px;

	}

	.qr{
		margin: 40px 0 0 0;
	}

	.name{
		width: auto;
	}
}

@media screen and (max-width: 613px){
	.avatar{
		display: block;
    	margin-left: auto;
    	margin-right: auto;
	}
	br{
		display: block;
		margin-left: auto;
    	margin-right: auto;
	}

	.name{
		margin-top: 20px;
	}

	.name h1{
		font-size: 24px;
	}

	.name ul li{
		font-size: 20px;
	}

	.name p{
		font-size: 20px;

	}

	.qr{
		margin-top: 22px;
		width: 150px;
	}

	.name{
		width: auto;
	}
}